* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game {
    background: url("Images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#dinosaur {
    background-image: url("Images/dinosaur.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 0px;
}

.animate {
    animation: jump 0.6s linear;
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    50%{
        bottom: 220px;
    }
    100%{
        bottom: 0;
    }
    
}

#hurdle {
    background-image: url("Images/stone.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 15px;
    left: 800px;
}

.move {
    animation: move 3s linear infinite;
}

@keyframes move {
    0% {
        left: 1500px;
    }
    100% {
        left: -1000px;
    }

}

#gameover {
    visibility: hidden;
    font-size: 2em;
    background-color: rgb(213,61,54);
    color: rgb(147,30,56);
    position: relative;
    text-align: center;
    top: 50%;

}

#score {
    font-size: 2em;
    position: relative;
    text-align: center;
    margin: auto;
}